<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lesson.android.yangchang.demo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="lesson.android.yangchang.lesson4.Main2Activity"
            android:label="@string/title_activity_main2" >
        </activity>
        <activity
            android:name="lesson.android.yangchang.ls4_hw.Tic_tac_toa"
            android:label="@string/title_activity_tic_tac_toa" >
        </activity>
    </application>

</manifest>
